
<h3 class="page-title">航路天气
    <small>Route weather</small>
</h3>
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="../index.html">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">首页</a></li>
    <li class="pull-right no-text-shadow">
        <div id="dashboard-report-range"
             class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
             data-tablet="" data-desktop="tooltips" data-placement="top"
             data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>
            <span></span>
            <i class="icon-angle-down"></i>
        </div>
    </li>
</ul>

<iframe id="sky" width="100%" height="800px" frameborder="0" src="https://www.ventusky.com/?p=33.4;116.5;5&l=temperature">
</iframe>


