
<style>
    #custom-select {
        height: 100%;
        border: 1px solid #e5e5e5;
        overflow-y: scroll;
        margin: 0;
        padding-top: 5px;
    }
    #custom-select li{
        list-style: none;
        height: 25px;
        text-indent: 3px;
        line-height: 25px;
        width: 94%;
        margin-left: 5px;
    }
    #custom-select li:hover {
        cursor: pointer;
        background-color: #ccc;
    }
    .suggest {
        position: absolute;
        border: 1px solid #ccc;
        width: 332px;
        max-height: 150px;
        overflow-y: scroll;
        background-color: #fff;
    }
    .suggest ul {
        margin: 0;
        text-indent: 5px;
    }
    .suggest li{
        padding-top: 3px;
        list-style: none;
        cursor: pointer;
    }
    .suggest li:hover {
        background-color: #ccc;
    }
</style>

<h3 class="page-title">机场航图
    <small>Airport chart</small>
</h3>
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">首页</a></li>
    <li class="pull-right no-text-shadow">
        {{utc}} UTC
    </li>
</ul>

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption"><i class="icon-cogs"></i>机场航图查询</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" map class="map"></a>
        </div>
    </div>
    <div class="portlet-body" style="overflow: hidden";>
        <form action=""; class="form-horizontal form-border">

            <div class="control-group control-first">
                <label class="control-label">机场三码/四码</label>
                <div class="controls">
                    <input type="text" placeholder="请输入机场代码" class="m-wrap large" ng-model="airportCode">
                    <div class="m-wrap suggest" ng-show="showSuggest">
                        <ul>
                            <li ng-if="noRes">没有找到该机场！</li>
                            <li ng-repeat="s in suggestAirportList" ng-click="select(s)">{{s.ident}}</li>
                        </ul>
                    </div>
                    <span class="help-inline"></span>
                    <button type="button" class="btn red" ng-click="queryAirChart()">查询</button>
                </div>
            </div>
        </form>
        <h5>机场航图列表</h5>
        <div style="width: 17%;height:794px;float: left">
            <ul id="custom-select">
                <li ng-repeat="airchart in airChartList" ng-click="choiceAirchart(airchart)">{{airchart.name}}</li>
            </ul>
        </div>
        <iframe id="iframe-chart" style="float: right" frameborder="0" width="82%" height="800px" ng-src="{{airchart}}"></iframe>
    </div>
</div>
<!--
<script>
    $(document).ready(function () {
       $("#custom-select").find("li").on("click",function () {
          $(this).addClass("li-active").siblings().removeClass("li-active");
          $("#iframe-chart").attr("src",$(this).attr("data-value"));
       })
    })
</script>-->
