

<h3 class="page-title">个人信息
	<small>Personal Information</small>
</h3>
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="../index.html">Home</a>
		<i class="icon-angle-right"></i>
	</li>
	<li><a href="#">首页</a></li>
	<li class="pull-right no-text-shadow">
		{{utc}} UTC
	</li>
</ul>

<div class="row-fluid profile">

	<div class="span12">

		<!--BEGIN TABS-->

		<div class="tabbable tabbable-custom tabbable-full-width">

			<ul class="nav nav-tabs">

				<li class="active"><a href="#tab_1_1" data-toggle="tab">预览</a></li>

				<li class=""><a href="#tab_1_2" data-toggle="tab">个人信息</a></li>

				<li class=""><a href="#tab_1_3" data-toggle="tab">账户信息</a></li>

				<li class=""><a href="#tab_1_6" data-toggle="tab">帮助</a></li>

			</ul>

			<div class="tab-content">

				<div class="tab-pane row-fluid active" id="tab_1_1">

					<ul class="unstyled profile-nav span3">
						<li>
							<img ng-src="{{loginUserInfo.pic}}"/>
						</li>
					</ul>


					<div class="span9">

						<div class="row-fluid">

							<div class="span8 profile-info">

								<h1>{{loginUserInfo.firstName}}{{loginUserInfo.lastName}}</h1>

								<p>{{loginUserInfo.personalProfile}}</p>

								<p><a href="{{loginUserInfo.blog}}" target="_blank">{{loginUserInfo.blog}}</a></p>

								<ul class="unstyled inline">

									<li><i class="icon-map-marker"></i> {{loginUserInfo.place}}</li>

									<li><i class="icon-calendar"></i> {{loginUserInfo.birthday | date:'yyyy-MM-dd'}}</li>

									<li><i class="icon-briefcase"></i> {{loginUserInfo.sysPost.postName}}</li>

									<li><i class="icon-star"></i> {{loginUserInfo.phone}}</li>

									<li><i class="icon-heart"></i> {{loginUserInfo.hobby}}</li>

								</ul>

							</div>

						</div>

						<!--end row-fluid-->

					</div>

					<!--end span9-->

				</div>

				<!--end tab-pane-->

				<div class="tab-pane profile-classic row-fluid" id="tab_1_2">

					<div class="span2">
						<img ng-src="{{loginUserInfo.pic}}"/>
					</div>

					<ul class="unstyled span10">
						<li><span>用户名:</span> {{loginUserInfo.loginName}}</li>
						<li><span>姓:</span> {{loginUserInfo.firstName}}</li>
						<li><span>名:</span> {{loginUserInfo.lastName}}</li>
						<li><span>所在城市:</span> {{loginUserInfo.place}}</li>
						<li><span>出生日期:</span> {{loginUserInfo.birthday | date:'yyyy-MM-dd'}}</li>
						<li><span>岗位:</span> {{loginUserInfo.sysPost.postName}}</li>
						<li><span>电子信箱:</span> <a href="#">{{loginUserInfo.email}}</a></li>
						<li><span>兴趣爱好:</span> 设计, 开发.</li>
						<li><span>个人博客:</span> <a href="#">{{loginUserInfo.blog}}</a></li>
						<li><span>移动电话:</span> {{loginUserInfo.phone}}</li>
						<li><span>个人简介:</span> {{loginUserInfo.personalProfile}}</li>
					</ul>

				</div>

				<!--tab_1_2-->

				<div class="tab-pane row-fluid profile-account" id="tab_1_3">
					<div class="row-fluid">
						<div class="span12">
							<div class="span3">
								<ul class="ver-inline-menu tabbable margin-bottom-10">
									<li class="active">
										<a data-toggle="tab" href="#tab_1-1">
											<i class="icon-cog"></i>基本信息
										</a>
										<span class="after"></span>
									</li>

									<li class="">
										<a data-toggle="tab" href="#tab_2-2">
											<i class="icon-cog"></i>详细信息
										</a>
										<span class="after"></span>
									</li>

									<li class="">
										<a data-toggle="tab" href="#tab_3-3">
											<i class="icon-picture"></i> 上传头像</a>
									</li>
									<li class=""><a data-toggle="tab" href="#tab_4-4">
										<i class="icon-lock"></i> 修改密码</a></li>
								</ul>
							</div>

							<div class="span9">

								<div class="tab-content">

									<div id="tab_1-1" class="tab-pane active">

										<div style="height: auto;" id="accordion1-1" class="accordion in collapse">

											<form action="#">

												<label class="control-label">姓</label>
												<input type="text" placeholder="请输入姓" ng-model="loginUserInfo.firstName" class="m-wrap span8">

												<label class="control-label">名</label>
												<input type="text" placeholder="请输入名" ng-model="loginUserInfo.lastName" class="m-wrap span8">

												<label class="control-label">英文名</label>
												<input type="text" placeholder="请输入英文名" ng-model="loginUserInfo.englishName" class="m-wrap span8">

												<label class="control-label">性别</label>
												<select class="span8 m-wrap" ng-model="loginUserInfo.sex">
													<option value="1">男</option>
													<option value="0">女</option>
												</select>

												<label class="control-label">工号</label>
												<input type="text" readonly ng-model="loginUserInfo.jobNum" class="m-wrap span8">

												<label class="control-label">所属部门</label>
												<input type="text" readonly ng-model="loginUserInfo.sysDepartment.deptName" class="m-wrap span8">

												<label class="control-label">岗位</label>
												<input type="text" readonly ng-model="loginUserInfo.sysPost.postName" class="m-wrap span8">

												<div class="submit-btn">
													<a href="javascript:;" class="btn green" ng-click="saveBaseInfo()">保存</a>
													<a href="javascript:;" class="btn">重置</a>
												</div>

											</form>

										</div>

									</div>

									<div id="tab_2-2" class="tab-pane">

										<div style="height: auto;" id="accordion2-2" class="accordion in collapse">

											<form action="#">

												<label class="control-label">移动电话</label>
												<input type="text" placeholder="请输入移动电话" ng-model="loginUserInfo.phone" class="m-wrap span8">

												<label class="control-label">电子信箱</label>
												<input type="text" placeholder="请输入email" ng-model="loginUserInfo.email" class="m-wrap span8">

												<label class="control-label">兴趣爱好</label>
												<input type="text" placeholder="游戏，足球" ng-model="loginUserInfo.hobby" class="m-wrap span8">

												<label class="control-label">现居住地</label>
												<div class="controls">
													<input type="text" class="span8 m-wrap" placeholder="现居住地" ng-model="loginUserInfo.place" style="margin: 0 auto;">
													<p class="help-block"><span class="muted">Start typing to auto complete!. E.g: US</span></p>
												</div>

												<label class="control-label">个人简介</label>
												<textarea class="span8 m-wrap" rows="3" ng-model="loginUserInfo.personalProfile"></textarea>

												<label class="control-label">个人博客</label>
												<input type="text" placeholder="博客地址" ng-model="loginUserInfo.blog" class="m-wrap span8">

												<div class="submit-btn">
													<a href="#" class="btn green" ng-click="saveDetailsInfo()">保存</a>
													<a href="#" class="btn">重置</a>
												</div>

											</form>

										</div>

									</div>

									<div id="tab_3-3" class="tab-pane">

										<div style="height: auto;" id="accordion3-3" class="accordion collapse in">
											<span class="btn red fileinput-button file-btn avatar-upload">
												<i class="icon-plus icon-white"></i>
												<span>添加图片...</span>
												<input type="file" class="input-file" accept="image/jpg,image.png">
											</span>
											<span class="help-inline">{{msg}}</span>
										</div>

										<div class="row">
											<div class="col-md-9">
												<img id="image" alt="">
											</div>
											<div class="col-md-3"></div>
										</div>

										<div class="control-group"></div>
										<div class="control-group">
											<p>
												<a href="javascript:;" ng-click="aleft()" class="btn red" title="向左旋转">
													<i class="icon-undo"></i> 向左旋转
												</a>
												<a href="javascript:;" ng-click="aright()" class="btn red" title="向右旋转">
													<i class=" icon-repeat"></i> 向右旋转
												</a>

												<a href="javascript:;" class="btn red" style="margin-left: 200px;" title="移动" ng-click="move()">
													<i class="icon-move"></i>
												</a>
												<a href="javascript:;" class="btn red" ng-click="zoomIn()">
													<i class="icon-zoom-in" title="放大" ></i>
												</a>
												<a href="javascript:;" class="btn red" ng-click="zoomOut()">
													<i class="icon-zoom-out" title="缩小"></i>
												</a>
												<a href="javascript:;" class="btn red" ng-click="reset()">
													<i class="icon-refresh" title="重置"></i>
												</a>

												<a href="javascript:;" ng-click="uploadImg()" class="btn red" style="margin-left: 100px;" title="保存">
													<i class="icon-save"></i> 保存修改
												</a>
											</p>
										</div>


									</div>

									<div id="tab_4-4" class="tab-pane">

										<div style="height: auto;" id="accordion4-4" class="accordion in collapse">

											<form action="#">

												<label class="control-label">原始密码</label>
												<input type="password" ng-model="oldPsw" class="m-wrap span8">
												<span class="help-inline">{{oldMsg}}</span>

												<label class="control-label">新密码</label>
												<input type="password" ng-model="newPsw" class="m-wrap span8">

												<label class="control-label">确认新密码</label>
												<input type="password" ng-model="repeatPsw" class="m-wrap span8">
												<span class="help-inline">{{repeatMsg}}</span>

												<div class="submit-btn">

													<a href="javascript:;" class="btn green" ng-click="updatePsw()">更改密码</a>

													<a href="javascript:;" class="btn">重置</a>

												</div>

											</form>

										</div>

									</div>

								</div>

							</div>

							<!--end span9-->

						</div>

					</div>

				</div>

				<div class="tab-pane row-fluid" id="tab_1_6">

					<div class="row-fluid">

						<div class="span12">

							<div class="span3">

								<ul class="ver-inline-menu tabbable margin-bottom-10">

									<li class="active">

										<a data-toggle="tab" href="#tab_1">

											<i class="icon-briefcase"></i>

											General Questions

										</a>

										<span class="after"></span>

									</li>

									<li class=""><a data-toggle="tab" href="#tab_2"><i class="icon-group"></i> Membership</a></li>

									<li class=""><a data-toggle="tab" href="#tab_3"><i class="icon-leaf"></i> Terms Of Service</a></li>

									<li class=""><a data-toggle="tab" href="#tab_1"><i class="icon-info-sign"></i> License Terms</a></li>

									<li class=""><a data-toggle="tab" href="#tab_2"><i class="icon-tint"></i> Payment Rules</a></li>

									<li class=""><a data-toggle="tab" href="#tab_3"><i class="icon-plus"></i> Other Questions</a></li>

								</ul>

							</div>

							<div class="span9">

								<div class="tab-content">

									<div id="tab_1" class="tab-pane active">

										<div style="height: auto;" id="accordion1" class="accordion in collapse">

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_1" style="height: 0px;">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														Pariatur cliche reprehenderit enim eiusmod highr brunch ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_2">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														Food truck quinoa nesciunt laborum eiusmod nim eiusmod high life accusamus  ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														High life accusamus terry richardson ad ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_4">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_5" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_5">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_6" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														Wolf moon officia aute non cupidatat skateboard dolor brunch ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_6">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

										</div>

									</div>

									<div id="tab_2" class="tab-pane">

										<div style="height: auto;" id="accordion2" class="accordion collapse in">

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">

														Cliche reprehenderit, enim eiusmod high life accusamus enim eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse in" id="collapse_2_1">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">

														Pariatur cliche reprehenderit enim eiusmod high life non cupidatat skateboard dolor brunch ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_2_2">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">

														Food truck quinoa nesciunt laborum eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_2_3">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2_4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">

														High life accusamus terry richardson ad squid enim eiusmod high ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_2_4">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2_5" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">

														Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_2_5">

													<div class="accordion-inner">

														<p>

															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

														</p>

														<p>

															moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

														</p>

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2_6" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">

														Wolf moon officia aute non cupidatat skateboard dolor brunch ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_2_6">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_2_7" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">

														Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_2_7">

													<div class="accordion-inner">

														<p>

															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

														</p>

														<p>

															moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

														</p>

													</div>

												</div>

											</div>

										</div>

									</div>

									<div id="tab_3" class="tab-pane">

										<div style="height: auto;" id="accordion3" class="accordion collapse in">

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														Cliche reprehenderit, enim eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse in" id="collapse_3_1">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_2" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														Pariatur skateboard dolor brunch ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3_2">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_3" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														Food truck quinoa nesciunt laborum eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3_3">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_4" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														High life accusamus terry richardson ad squid enim eiusmod high ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3_4">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_5" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														Reprehenderit enim eiusmod high  eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3_5">

													<div class="accordion-inner">

														<p>

															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

														</p>

														<p>

															moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

														</p>

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_6" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3_6">

													<div class="accordion-inner">

														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_7" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														Reprehenderit enim eiusmod high life accusamus aborum eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3_7">

													<div class="accordion-inner">

														<p>

															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

														</p>

														<p>

															moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

														</p>

													</div>

												</div>

											</div>

											<div class="accordion-group">

												<div class="accordion-heading">

													<a href="#collapse_3_8" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">

														Reprehenderit enim eiusmod high life accusamus terry quinoa nesciunt laborum eiusmod ?

													</a>

												</div>

												<div class="accordion-body collapse" id="collapse_3_8">

													<div class="accordion-inner">

														<p>

															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.

														</p>

														<p>

															moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmodBrunch 3 wolf moon tempor

														</p>

													</div>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>

							<!--end span9-->

						</div>

					</div>

				</div>

				<!--end tab-pane-->

			</div>

		</div>

		<!--END TABS-->

	</div>

</div>