
<h3 class="page-title">个人日历
    <small>Personal Calendar</small>
</h3>
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">首页</a></li>
    <li class="pull-right no-text-shadow">
       {{utc}} UTC
    </li>
</ul>

<div class="row-fluid">

    <div class="portlet box red calendar">

        <div class="portlet-title">

            <div class="caption"><i class="icon-reorder"></i>Calendar</div>

        </div>

        <div class="portlet-body light-grey">

            <div class="row-fluid">

                <div class="span3 responsive" data-tablet="span12 fix-margin" data-desktop="span8">

                    <!-- BEGIN DRAGGABLE EVENTS PORTLET-->

                    <h3 class="event-form-title">事件备忘录</h3>

                    <div id="external-events">

                        <form class="inline-form">
                            <input type="text" class="m-wrap span12" ng-model="eventTitle" placeholder="事件标题" /><br />
                            <a class="btn green" ng-click="addEventLabel()">添加事件</a>
                        </form>

                        <hr/>

                        <div>
                            <div class='external-event label' ng-repeat="f in eventLabelList">{{f.name}}</div>
                        </div>

                        <hr class="visible-phone" />

                    </div>

                    <!-- END DRAGGABLE EVENTS PORTLET-->

                </div>

                <div class="span9">
                    <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" class="has-toolbar"></div>
                </div>

            </div>

            <!-- END CALENDAR PORTLET-->

        </div>

    </div>

</div>



