
<h3 class="page-title">添加机型
    <small>Add aircraft</small>
</h3>

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="../temp/index.html">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">首页</a></li>
    <li class="pull-right no-text-shadow">
       {{utc}} UTC
    </li>
</ul>

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption"><i class="icon-cogs"></i>添加机型</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form" style="overflow: hidden";>
        <form action="#" class="horizontal-form">
            <h4 class="form-section">基本信息</h4>
            <div class="row-fluid">

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">注册号：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Register Number" ng-model="currentAircraftType.registration">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">尾号：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Tail Number" ng-model="currentAircraftType.tailNumber">
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">机型：</label>
                        <div class="controls">
                            <select class="span12 m-wrap" tabindex="1" ng-model="aircraftType">
                                <option ng-repeat="t in aircraftTemp" value="{{t.typeId}}">{{t.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">引擎：</label>
                        <div class="controls">
                            <select class="span12 m-wrap" tabindex="1" ng-model="currentAircraftType.engine">
                                <option>{{currentAircraftType.engine}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大燃油：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Fuel">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">机长：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Aircraft Len" ng-model="currentAircraftType.length">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">机宽：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Aircraft Width" ng-model="currentAircraftType.width">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">机高：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Aircraft Height" ng-model="currentAircraftType.height">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">客舱宽度：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Cabin Width" ng-model="currentAircraftType.cabinWidth">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大巡航速度：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Speed" ng-model="currentAircraftType.maxSpeed">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">平均巡航速度：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Average Speed" ng-model="currentAircraftType.avgSpeed">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">座位数量：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Seat Count" ng-model="currentAircraftType.seatCount">
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">制造商：</label>
                        <div class="controls">
                            <select class="span12 m-wrap" ng-model="company">
                                <option value="{{currentAircraftType.airCompany.airCompanyId}}">{{currentAircraftType.airCompany.comName}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">空重：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Empty Weight" ng-model="currentAircraftType.emptyWeight">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大零油重量：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Zero Weight" ng-model="currentAircraftType.maxZeroFuel">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大滑行重量：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Ramp Weight">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大着陆重量：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Landing" ng-model="currentAircraftType.maxLanding">
                        </div>
                    </div>
                </div>


                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">载油量：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Fuel" ng-model="currentAircraftType.fuelCapacity">
                        </div>
                    </div>
                </div>


                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大载货重量：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Cargo" ng-model="currentAircraftType.maxCargo">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大载乘客：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Pax" ng-model="currentAircraftType.maxPax">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大推力：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Thrust" ng-model="currentAircraftType.maxThrust">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大起飞重量：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Take Off" ng-model="currentAircraftType.maxTakeoff">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大巡航距离：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Cruising Range" ng-model="currentAircraftType.maxRange">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最大爬坡：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Max Cruising Range" ng-model="currentAircraftType.maxRamp">
                        </div>
                    </div>
                </div>

            </div>

            <h4 class="form-section">速度信息</h4>
            <div class="row-fluid">

                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">爬升模式：</label>
                        <div class="controls">
                            <select class="span12 m-wrap" tabindex="1" ng-model="climb">
                                <option ng-repeat="m in currentAircraftType.aircraftClimb" value="{{m.climbId }}">{{m.cliSchedule}}</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">巡航模式：</label>
                        <div class="controls">
                            <select class="span12 m-wrap" ng-model="curise">
                                <option ng-repeat="m in currentAircraftType.aircraftCurises" value="{{m.curiseId }}">{{m.curSchedule}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">下降模式：</label>
                        <div class="controls">
                            <select class="span12 m-wrap" ng-model="descent">
                                <option ng-repeat="m in currentAircraftType.aircraftDescents" value="{{m.descentId }}">{{m.desSchedule}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <h4 class="form-section">燃油信息</h4>
            <div class="row-fluid">

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">滑行燃油/分：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Taxi Fuel/min" ng-model="currentAircraftType.taxiFuel">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">APU燃油/min：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="APU Burn/min" ng-model="currentAircraftType.apuBurn">
                        </div>
                    </div>
                </div>


                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">起飞燃油：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Take Off Burn" ng-model="currentAircraftType.taxiFuel">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">起飞用时：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Take Off Time" ng-model="currentAircraftType.takeoffTime">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">进近燃油：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Approach Burn" ng-model="currentAircraftType.approachBurn">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">进近用时：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Approach Time" ng-model="currentAircraftType.approachTime">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">opt Alt adjust：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Opt Alt adjust" ng-model="altAdjuest">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Last Step：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Last Step" ng-model="currentAircraftType.lastStep">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Engine Anti-ice：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Engine Anti-ice" ng-model="currentAircraftType.engineIce">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Total Anti-ice：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Total Anti-ice" ng-model="currentAircraftType.totalIce">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Climb bias：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Climb bias" ng-model="currentAircraftType.climbBias">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Cruise bias：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Cruise bias" ng-model="currentAircraftType.cruiseBias">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Descent bias：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Descent bias" ng-model="currentAircraftType.descentBias">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Hold bias：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Hold bias" ng-model="currentAircraftType.holdBias">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">Drag：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Drag"  ng-model="currentAircraftType.drag">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">ShortTripCrz：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="ShortTripCrz" ng-model="currentAircraftType.shortTrip">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="control-group">
                        <label class="control-label">最短跑道长度：</label>
                        <div class="controls">
                            <input type="text" class="m-wrap span12" placeholder="Min RwyLen" ng-model="currentAircraftType.minRwyLen">
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-actions">
                <button type="button" class="btn blue" ng-click="submit()">保存</button>
                <button type="button" class="btn">重置</button>
            </div>
        </form>
    </div>

</div>
